<div id="<%= dom_id work %>">
  <p>
    <strong>Title:</strong>
    <%= work.title %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= work.ISBN %>
  </p>

  <p>
    <strong>Date published:</strong>
    <%= work.date_published %>
  </p>

</div>
