<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "ext_work_frame" do %>
  <%= render @work %>
  <%= button_to "Save this work?",
      {action: "create"},
      {params: { work: @ext_params}} %>
<% end %>
