<h2>Works</h2>
<%= link_to "Add new work", new_work_path, class: 'block max-w-fit rounded bg-green-400 hover:bg-green-300 py-2 px-4 my-3'  %>
<div class='flex flex-wrap'>
  <% @works.each do |work| %>
    <%= render work %>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

