<h2>Works</h2>
<%= turbo_frame_tag 'work_new' do %>
  <%= render NewWorkBtnComponent.new %>
<% end %>
<div class='works-index-container'>
  <%= render partial: 'works/work', collection: @works %>
</div>

<%== pagy_nav(@pagy) %>

