<% if form&.blank? || !form.is_a?(FormBuilder) %>
  <% raise FormHelperException %>
<% end %>

<div class="author_search_component" data-controller="author-search combobox">
  <%= form.label :query, "Search" %>
  <div>
    <%= form.text_field :query,
        {
          'required': 'true',
          'class': 'author_search_query',
          'pattern': '.*\w+.*',
          'autocomplete': 'off',
          'data-author-search-target': 'nameField',
          'data-action': 'input->author-search#autocomplete focus->combobox#start focusout->combobox#stop',
          'data-combobox-target': 'input'
        }
    %>
    <%= tag.ul class: 'author_search_results',
               role: 'listbox',
               id: unique_id,
               data: {
                 'combobox-target': 'list',
                 'author-search-target': 'results'
               }
    %>
  </div>
</div>
