<h2>Authors</h2>

<%= form_with url: search_authors_path, method: :get do |form| %>
  <%= render partial: 'search', locals: {form: form, unique_id: 'index-search'} %>
<% end %>

<div class="flex flex-row flex-wrap ">
  <% @authors.each do |author| %>
    <%= render author %>
  <% end %>
</div>

<%= link_to "New author", new_author_path %>
