<%= turbo_stream.update request.headers["Turbo-Frame"] do %>
    <% @authors.each do |author| %>
      <button type="button" id="<%= dom_id(author) %>" role="option" class="author_search_result"
          data-action="click->author-search#select"
          data-author-search-id-param="<%= author.id %>"
          <%= highlight(author.name, params[:query]) %>
      </button>
    <% end %>
<% end %>
