<div class="about-page">
  <section class="about-page-text">
    <p> Deworked is an open-source web application for cataloguing written works and their authors that can be self-hosted. </p>
    <br>
    <p> At present, we support automatically gathering works data from the OpenLibrary archive. In the future, this 
      application will support collections that are a mixture of physical and digital works. Deworked is still a work in progress,
      so be sure to visit our <a class="about-inline-link" href="https://github.com/davidgumberg/deworked">git repository</a> to see what we're up to. </p>
  </section>
  <section class="about-page-image">
    <img src="<%= image_path("thinking.png") %>">
  </section>
</div>
