.new-work-btn {
    background-color: #339863;
    cursor: pointer;
}

.new-work-btn:hover {
    background-color: #43A873;
}

.floating-popover-new-work {
    background: rgb(52 94 148 / 0.8)
}

.floating-popover .work-inline-form input,
.floating-popover .work-inline-form select {
    color: black;
}
