.author-card {
    display:flex;
    flex-direction: column;
    overflow: clip;
    margin: 1em;
    perspective: 6in;
    aspect-ratio: 3/5;
    max-width: 100%;
    max-height: 100%;
    
    box-shadow: -3px 1px 6px 7px rgba(215,215,190,0.7), 5px 5px 6px 7px rgba(94,104,121,0.5);

    transform-origin: center;
    background-image: url(/assets/texture6.jpg);
    /*
    border-image-source: url(/assets/texture1.jpg/);
    border-image-repeat: stretch;
    border-image-width: 9x;
    border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%);
    */
}

/*
.author-card:hover {
    animation-name: author-card-shimmer;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
*/

.author-card-plaque {
	flex-basis: 1;
	flex-grow: 1;
	width: 11em;
	font-family: 'Vollkorn-Black';
    color: rgb(0, 0, 0);
	text-align: center;
	padding: .75em 1.4em 3em;
}

.author-card-avatar {
	flex-basis: 2;
	flex-grow: 10;
    object-fit:cover;
    opacity:0.9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 1px 7px 4px rgba(19, 19, 23, 0.5);


    /*
    animation-name: avatar-shimmer;
    animation-duration: 22.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    */
}

@keyframes author-card-shimmer {
    0%    {transform: rotateY(0deg); }
    33%   {transform: rotateY(8deg) skewX(2deg); }
    66%  {transform: rotateY(-8deg) skewX(-2deg); }
    100% {transform: rotateY(0deg); }
}

@keyframes avatar-shimmer {
    0%    { transform: scale(1.0);}
    33%   { transform: scale(1.005); }
    66%   { transform: scale(0.995);}
    100%  { transform: scale(1.0);}
}
