.author_search_query {
    margin-bottom: 0;
}

.author_search_field ul {
    max-width: 15em;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.2em 2.3em;
    margin: 0;
    position: absolute;
    background: #AFAFCF;
    border-radius: 2% 2% 30% 30% / 5% 5% 90% 90%;
    border-style: dotted;
    border-color: #9999BB;
    box-shadow: 0px 0px 20px 0px rgba(88, 88, 77, 0.65);
}

.author_search_field ul li {
    padding: 0;
    box-shadow: 0px 0px 0px 0px rgb(99, 99, 118);
    padding: 3px;
}

.combobox_options{
    display:block;
    width: 100%;
    padding: 0;
}


.combobox_options[aria-selected="true"] {
    outline: 2px dotted black;
    background: #B0B0D0 
}

.typeahead{
    display: block;
    opacity: 0;
    transform: scale(0.8, 0) rotateX(90deg);
    transform-origin: top;
    transition: transform 350ms cubic-bezier(0.030, 1.155, 0.820, 1.020), opacity 280ms ease-out;
}

.author_search_field:focus-within .typeahead{
    opacity: 1;
    transform: scale(1, 1);
    transition: transform 350ms cubic-bezier(0.030, 1.155, 0.820, 1.020), opacity 280ms ease-out;
}

/* AFAICT there is no way to group pseudoclasses and selectors, so this is duplicate from above */
.author_search_query:invalid ~ .typeahead{
    opacity: 0;
    transform: scale(0.8, 0) rotateX(90deg);
    transition: transform 350ms cubic-bezier(0.030, 1.155, 0.820, 1.020), opacity 280ms ease-out;
}

.author-card {
    display:flex;
    flex-direction: column;
    overflow: clip;
    margin: 1em;
    perspective: 6in;
    width: 16em;
	height: 27em;
    
    box-shadow: -3px 1px 6px 7px rgba(255,255,255,0.7), 5px 5px 6px 7px rgba(94,104,121,0.5);

    transform-origin: center;
    background-image: url(/assets/texture3.png);
    background-size: 50% 50%;
    background-repeat: round;
    /*
    border-image-source: url(/assets/texture1.jpg/);
    border-image-repeat: stretch;
    border-image-width: 9x;
    border-image-slice: calc(50 / 184 * 100%) calc(80 / 284 * 100%);
    */
}

.author-card:hover {
    animation-name: author-card-shimmer;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.author-card-plaque {
	flex-basis: 1;
	flex-grow: 1;
	width: 11em;
	font-weight: 800;
	font-family: 'Vollkorn';
	text-align: center;
	color: rgb(220, 210, 160);
	padding: .5em 1em 1.2em;
}

.author-card-avatar {
	flex-basis: 2;
	flex-grow: 10;
    object-fit: cover;
    opacity:0.9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 1px 7px 4px rgba(19, 19, 23, 0.5);

    animation-name: avatar-shimmer;
    animation-duration: 22.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes author-card-shimmer {
    0%    {transform: rotateY(0deg); }
    33%   {transform: rotateY(8deg) skewX(2deg); }
    66%  {transform: rotateY(-8deg) skewX(-2deg); }
    100% {transform: rotateY(0deg); }
}

@keyframes avatar-shimmer {
    0%    { transform: scale(1.0);}
    33%   { transform: scale(1.005); }
    66%   { transform: scale(0.995);}
    100%  { transform: scale(1.0);}
}
