.author-inline-form {
    animation: radeIn .4s forwards;
}

.work-card-form-loading .author-card-avatar {
    max-height: 6em;
}

@keyframes radeIn {
    from {
        border-radius: 50%;
    }
    to {
        border-radius: 10%;
    }
}
