html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(255, 240, 232);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        ".      header  ."
        ".      main    ."
        "footer footer  footer";
    justify-items: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    width: 100%;
}

input {
    font-size: inherit;
}

footer {
    grid-area: footer;
    justify-self: stretch;
    background-color: rgba(240, 240, 240, 0.4)
}

h1 {
    font-size: 64pt;
}

h2 {
    font-size: 42pt;
}

ul {
    list-style-type: none;
}

/* FIXME: this doesn't do what it is supposed to */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
  opacity: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
