.date-picker-component {
	display: flex;
	flex-flow: row nowrap;
	gap: .40em;
	align-items: flex-end;
    word-break: keep-all;
}

.date-picker-component-attr {
	display: flex;
	flex-flow: column nowrap;
}

.date-picker-component h3  {
	font-size: 1.01em;
	font-weight: bold;
}

.date-picker-component input,
.date-picker-component select {
    font-size: inherit;
    padding: .3rem .3rem;
}

.date-picker-component input {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(50, 0, 100, 0.2) 0px -2px 0px inset;
}


.date-picker-component .date-picker-component-era-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(155, 2, 3, 0.4) 0px -3px 0px inset;

    /* drop down arrow styling */
    padding-right: 1.8rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}

.date-picker-component .date-picker-component-era-select:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(165, 4, 6, 0.45) 0px -4px 1px inset;
}

.date-picker-component-year input{
    width: 4em;
}

.date-picker-component-month input,
.date-picker-component-day input {
    width: 3em;
}
