@font-face {
	font-family: Vollkorn;
	src: url('Vollkorn.ttf');
}

@font-face {
	font-family: Vollkorn-Black;
	src: url('Vollkorn-Black.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('Raleway-Bold.ttf');
}
