header {
    margin-right: 12em;
}

.application-header-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.application-header-nav li {
    font-size: 1.3rem;
    font-weight: 500;
    font-style: oblique 30deg;
    text-decoration: underline overline;
}

.application-header-nav a:hover {
    font-style: normal;
}
