body {
    background-color: rgb(255, 240, 232);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        ".      header  ."
        ".      main    ."
        "footer footer  footer";
    justify-items: center;
}

header {
    grid-area: header;
    margin-bottom: 1.5em;
}

main {
    grid-area: main;
    width: 100%;
    max-width: 75em;
}

input {
    font-size: inherit;
}

footer {
    grid-area: footer;
    justify-self: stretch;
    background-color: rgba(240, 240, 240, 0.4)
}
