.work-inline-form input {
    background-color: rgb(255 240 240 / 0.7);
    border-radius: 11px;
    border: none;
}

.work-inline-form-cover {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height:100%;
    background-color: rgb(0 0 0 / 0.05);
}

.work-inline-form-cover-choice-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: .5em;
    background-color: rgb(4 40 60 / 0.7);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 8% 8% 0% 0%;
    border: solid black 1px;
}

.work-inline-form-cover-choice-button {
    height: 3.8em;
    border-radius: 85%;
    background-color: #AAA555;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.work-inline-form-cover-choice-button img{
    height: 100%;
    padding: .8em;
}
.work-inline-form-cover-choice-tooltip {
    display: none;
    position: absolute;
     
    background: #152044;
    color: white;
    font-weight: bold;
    padding: .7em;
    border-radius: 4px;
    font-size: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
