.work-card {
	display: flex;
    justify-content: space-around;
	background-color: rgba(37, 71, 117, 0.7);
	border-radius: 1em;
	padding: 2em;
	width: 65em;
	height: 30em;
    margin: .5em 0;
}

.work-card-cover {
    width: 100%;
    height: 100%;
    flex: 3 1 0;
}

.work-card-cover > img {
    object-fit: cover;
    border: 1px solid black;
    width: 80%;
    height: 100%
}

.work-card-details {
    flex: 3 1 0;
}

.work-card-authors {
    flex: 3 1 0;
}

.work-nav-btn {
    display:       block;
    max-width:     fit-content;
    padding:       .5em;
    border-radius: 4px;
}

.work-nav-btn-show {
    background-color: #6576CB;
}

.work-nav-btn-show:hover {
    background-color: #7586DB;
}

.work-nav-btn-edit {
    background-color: #AAA555;
}

.work-nav-btn-edit:hover {
    background-color: #BAB565;
}

.work-nav-btn-destroy {
    background-color: #AA4422
}

