.works-index-nav {
   display: flex;
   flex-flow: row wrap;
   margin: .5em .1em;
   align-items: flex-end;
   margin-left: 1em;
   margin-right: 1em;
}

.works-index-nav-start {
    flex: 1 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.works-index-nav-end {
    flex: 1 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

}

.works-index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

.works-index-container .work-container {
    flex-basis: 100%;
    max-width: 75em;
}


