<h2>My Works</h2>
<div class="flex flex-wrap my-10">
  <% if @works.size == 0 %>
    <h3>It looks like you haven't added any works to your collection yet!</h3>
    <p>Try adding some works from the
       <a class="font-semibold hover:underline text-blue-900" href="<%= works_path %>">
        works index
       </a>
      to populate this page.
    </p>
  <% else %>
    <%= render partial: 'works/work', collection: @works %>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

